<h2>Welcome to AMPTA – A Minimal Project Tracking Application</h2>

  <% if signed_in? %>
    <%= link_to "Profile", user_path(current_user) %>
  <% end %>

  <% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
  <% end %>