<% content_for :title, "Welcome to AMPTA!" %>

<h3>Welcome to AMPTA – A Minimal Project Tracking Application</h3>

  <div id="project_area">
  	<p>Hello and welcome to this tremendous, awesome, minimal project management system, called AMPTA!</p><br/>
  	<img src=<%=asset_path "thumbs.png"%> id="image_thumbs" />
  </div>

  <% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
  <% end %>