<% content_for :title, "My tickets" %>
<i class="icon-tags" id="ticket_icon_on_ticket"></i>
<h4 id="title">My tickets</h1>

<div id="ticket_area">
	<% @tickets.each do |ticket| %>
		<h4>
			<%= link_to ticket.title, show_users_tickets_path(ticket.id), :action => "show"%><br/>
		</h4>
	<% end %>
</div>