<h1>Alla projekt</h1>

<div id="project_area">
	<% @projects.each do |project| %>
			<div class="project_container">
				<% if signed_in? %>
					<% if check_if_member(project, current_user) %>
						<div class="not_users_project label label-info">
							Medlem
						</div>
						<div class="project_name_div">
							<%= link_to (project.title), project_path(project) %><br />
						</div>
					<% elsif project.user_id == current_user.id %>
						<div class="users_project label label-success">
							Ägare
						</div>
						<div class="project_name_div">
							<%= link_to (project.title), project_path(project) %><br />
						</div>
					<% else %>
						<div class="users_project label label-error">
							Ej medlem
						</div>
						<div class="project_name_div">
							<%= project.title %><br />
						</div>
					<% end %>
				<% else %>
					<div class="project_name_div_logged_out">
						<%= project.title %> <br />
					</div>
				<% end %>
			</div>
	<% end %>
</div>