<h1>Alla projekt</h1>

<% @projects.each do |project| %>
	<%= link_to (project.title), project_path(project) %><br />
<% end %>

<% if signed_in? %>
  <%= link_to "Profile", user_path(current_user) %>
  <%= current_user.first_name %>
<% end %>