<h1>Hantera projekt</h1>

<div id="project_area">
	<% @users_projects.each do |project| %>
		<h5>
			<%= link_to project.title, project_path(project.id), :class=> "manage_project_link" %>
			<%= button_to "Radera", project, :method=>:delete, :class=> "btn remove_button", :confirm=>"Are you sure?" %>
			<%= link_to "Redigera", edit_project_path(project), :class=> "btn edit_button" %>
			<br/>
		</h5>
	<% end %>
</div>