/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require bootstrap
 */

body {
	background-color: #99bb88 !important;
}

.container > .content {
	min-height: 500px;
	background-color: #eee;
	padding: 30px;
	-webkit-border-radius: 10px 10px 10px 10px;
	   -moz-border-radius: 10px 10px 10px 10px;
	        border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.jquery_form_error_message{
  display: block;
  margin-top: 3px;
}

#title {
	margin-left: 30px;
}

#image_thumbs {
	position: relative;
	top: 25px;
	left: 200px;
}

.field_with_errors {
	display: inline;
	margin: 0;

}

#filter_div {
	position: relative;
	top: -35px;
	left: 255px;
}