// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project_area {
	border-radius: 5px;
	background: #ddd;
	width: 94%;
	margin-top: 30px;
	padding: 25px 25px 25px 25px;
	position: relative;
}

.project_icon {
	float: left;
}

#project_icon_on_project {
	float: left;
	position: relative;
	top: 10px;
}

.manage_project_link, .project.remove_button, .project.edit_button {
	float: left;
}

.project_remove_button {
	float: right;
}

.project_edit_button {
	float: right;
	margin-right: 5px;
}

.manage_project_link {
	margin-left: 10px;
	float: left;
}

.manage_project_link:first-letter{
	text-transform: capitalize;
}

.project_container {
	overflow: hidden;
	height: 30px;
}

.project_name_div {
	margin-left: 20px;
}

.project_name_div_logged_out, .project_name_div {
	float: left;
	text-transform: capitalize;
}

.users_project {
	float: left;
	width: 70px;
	text-align: center;
	font-weight: normal;
}

#project_button {

}