// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project_area {
	background: #fff;
	width: 400px;
	padding: 15px;
	position: relative;
}

.remove_button {
	position: absolute;
	left: 220px;
}

.edit_button {
	position: absolute;
	left: 310px;
}

.manage_project_link, .remove_button, .edit_button {
	float: left;
}