// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ticket_area {
	background: #fff;
	width: 550px;
	padding: 15px;
}

.remove_button {
	position: absolute;
	left: 420px;
}

.edit_button {
	position: absolute;
	left: 510px;
}

.manage_ticket_link {
	width: 200px;
}

.ticket_project_name {
	position: absolute;
	left: 310px;
}

.manage_ticket_link, .remove_button, .edit_button {
	float: left;
}